body {
  display: block;
  margin: 0;
  font-family: 'Brush Script MT', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f8fd;
  color: #414453;
  font-size: 14px;
  font-weight: 300;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
